@import "../../style/style.scss";

.card {
  border: none;
  cursor: pointer;

  &:hover img {
    transform: scale(1.1);
  }

  &-body {
    background-color: $lightGrey;
    &-title {
      font-weight: 700;
    }
  }

  .card-img-bottom {
    overflow: hidden;

    img {
      transition: transform 0.35s ease-in;
    }
  }
}
