@import "../../style/style.scss";

h3 {
  font-weight: 800;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 0;
}
.product-table {
  --bs-list-group-bg: $lightGrey;
}

.specification {
  @media (min-width: 920px) {
    width: 50%;
  }
}

// header {
//   order: 1;
// }

// .specification {
//   order: 3;
//   @media (min-width: 920px) {
//     order: 2;
//   }
// }

// .slider {
//   order: 2;
//   @media (min-width: 920px) {
//     order: 3;
//   }
// }
