@import "../../style/style.scss";

main {
  .hero-bg {
    background-color: $navy;
    min-height: clamp(70vh, 90vh, 100vh);
    --bs-gutter-x: 0;
    z-index: 0;

    @media (min-width: 992px) {
      padding-left: 6rem;
      background: linear-gradient(to right, $navy 90%, white 10%);
    }

    h2 {
      color: #9ea8b1;
      width: 100%;
      font-size: clamp(1.6rem, 2.5vw + 1rem, 2rem);

      @media (min-width: 1200px) {
        width: 80%;
      }
    }

    .hero-image {
      z-index: 1;
    }

    .offer-link-container {
      z-index: 500;

      @media (min-width: 992px) {
        margin-top: -7%;
      }
      .offer-link {
        font-size: clamp(1rem, 1vw + 1rem, 2rem);
        transition: 0.3s ease;
        color: white;
        cursor: pointer;

        &:hover {
          color: $brandColor;

          + .arrow-icon {
            transform: scale(1.1);
          }
        }
      }

      .arrow-icon {
        transition: 0.3s ease;
        width: 6rem;
        cursor: pointer;

        @media (min-width: 1200px) {
          width: 12rem;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
