@import "../../style/style.scss";


// body main .contact h2 {
//   font-size: 3rem;
//   width: 100%;
// }

.icon-background {
  background-color: $lightGrey;
  width: 3rem;
  height: 3rem;
}

.arrow-icon {
  width: 5rem;
  height: auto;
}

.contact-icon {
  color: $navy;
}
