$main: #848480;
$brandColor: #efc840;
$navy: #1e2832;
$lightGrey: #e7ecf3;

body {
  font-family: "Jura", sans-serif;

  ::selection {
    background-color: $lightGrey;
  }

  .arrow-icon {
    width: 4rem;
    height: auto;

    @media (min-width: 920px) {
      width: 5rem;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .error-page-link {
    transition: 0.2s linear;
    cursor: pointer;

    & + .error-page-arrow {
      transition: 0.2s linear;

      &:hover {
        transform: scale(1.1);
      }
    }
    &:hover {
      color: $brandColor;
      & + .error-page-arrow {
        transform: scale(1.1);
      }
    }
  }

  main {
    min-height: clamp(90vh, 95vh, 97vh);
    overflow-x: hidden;
    background-color: $navy;

    h1 {
      font-size: clamp(2.2rem, 4vw + 1rem, 4rem);
    }

    h2 {
      font-size: clamp(1.125rem, 4vw + 1rem, 3rem);
      font-weight: 100;
      width: 50%;

      @media (min-width: 1200px) {
        width: 100%;
      }
    }

    .container {
      background-color: white;
    }

    .grey-bg {
      // margin: 0 -0.8rem 0 -0.8rem;
      background-color: $lightGrey;

      & .list-group-item {
        background-color: $lightGrey;
      }
    }
  }
}
