$main: #848480;
$brandColor: #efc840;

body {
  a {
    text-decoration: none;
    color: inherit;
  }

  main {
    background-color: $main;

    .container {
      background-color: white;
    }
  }
}
