@import "../../style/style.scss";

main {
  .hero-bg {
    .offer-link-container {
      z-index: 500;

      .offer-link {
        font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
        transition: 0.3s ease;
        color: white;
        cursor: pointer;

        &:hover {
          color: $brandColor;

          .arrow-icon {
            transform: scale(1.1);
          }
        }
      }

      .arrow-icon {
        transition: 0.3s ease;
        width: 4rem;
        cursor: pointer;

        @media (min-width: 1200px) {
          width: 9rem;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
