$main: #848480;
$brandColor: #efc840;

body {
  .card {
    border: none;
    cursor: pointer;

    &:hover img {
      transform: scale(1.1);
    }
    .card-img-top {
      overflow: hidden;

      img {
        transition: transform 0.35s ease-in;
      }
    }
  }
}
